.figure {
    user-select: none;
    cursor: pointer;
    padding: 1.6em;
    border-radius: 50%;
    background-color: #c5a5cb;
    position: absolute;
    left: 5%;
    top: 10%;
    transition: transform 2s cubic-bezier(0.4, 0, 0.2, 1),
                scale 1s ease-out 1s;
    will-change: transform;
    translate: 0px 0px;
    scale: 1;
}

.pos {
    translate: var(--offset-x) var(--offset-y);
    scale: 0.25;
}