.figure {
    user-select: none;
    cursor: pointer;
    padding: 1.6em;
    border-radius: 50%;
    background-color: #c5a5cb;
    position: absolute;
    left: 0;
    top: 0;
    transition: translate 2s cubic-bezier(1, 0.15, 0.05, 0.66),
                scale 1s ease-out 2s;
    will-change: transform;
    translate: 0px 0px;
    scale: 1;
    translate: var(--offset-x, 0px) var(--offset-y, 0px);
    scale: var(--scale, 1);
}
